body{
	background-image: url("background.png");
	background-repeat: repeat-x;
	font-family: "Times New Roman";
	font-size: 18px;
}

h1 {
    color: navy;
    margin-left: 20px;
}

h2 {
    color: navy;
    margin-left: 17px;
}


